body{
margin:0;
font-family:Arial;
display:flex;
background:#f5f5f5;
}

.sidebar{
width:250px;
background:#111827;
height:100vh;
color:white;
padding:20px;
position:fixed;
overflow:auto;
}

.sidebar a{
display:block;
padding:12px;
color:white;
text-decoration:none;
border-radius:8px;
margin-bottom:5px;
}

.sidebar a:hover{
background:#2563eb;
}

.main{
margin-left:270px;
padding:30px;
width:100%;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,.08);
margin-bottom:20px;
}
